body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
  }

p {
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
  }

header {
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(images/header.jpg);
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: stylesheet;
}

header section {
    z-index: 1;
    position: absolute;
    text-align: center;
    flex-direction: row;
  }
  
header section h1 {
    font-family: Roboto Slab, serif;
    font-size: 4em;
    color: white;
    font-weight: normal;
    margin: 0;
    letter-spacing: 1px;
  }

  .overlay {
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
  }


.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.perfil img {
    width: 100px;
    border-radius: 100px;
    margin-top:-50px;
}

.perfil h1{
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(51,51,51);
    margin-top: -0.5px;
}

article {
    width: 80%;
    height: auto;
    margin: 50px auto;
}


.serie {
    display: flex;
    justify-content: left;
    align-items: row;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 50px;
}

.serie .img .col{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 15px;

}

.serie .text .col{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-start;
    margin-top: 15px;
}

.serie .col img {
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.serie h1 {
    font-family: Roboto Slab, serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 15px;
    color: rgb(51,51,51);
    margin-left: 15px;
}
.blue{
    font-family: Roboto Slab, serif;
    font-size: 18px;
    margin-left: 15px;
    margin-top: -50px;
    color: rgb(96, 187, 214);
}
.text {
    font-family: Roboto Slab, serif;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 0px;
    color: rgb(51, 51, 51);
}

em {
    color :  rgb(175, 150, 39);
    font-style: normal;
    background-color: yellow
}

.genres {
    font-family: Roboto Slab, serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: -10px;
    color: rgb(51, 51, 51);
}

.wselect {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 3px;


}

.wselect select{
    display: table-column;
}
.select-hide {
  display: none;
}

a:link, a:visited {
    color: rgba(66, 180, 214);
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}


